.main img{
    width: 180px;
    height: 120px;
}
.main{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 5px;
    padding-left:4px;
    border:solid silver 1px;
}
.pages_count{
    font-size: 15px;
    font-weight: bold;
}


