
.main_header{

    background-color:#3CB371    ;
    display:grid;
    grid-template-columns:2fr 1fr 2fr 1fr 1fr ;
}

.icons{
    //background-color: yellow;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}
.icons img{
    width: 50px;
    height: 50px;
}

/*.icons img{
    width:50px;
    height: 50px;

}*/
.profile_icon img{
    width: 50px;
    height: 50px;
}
.search{
    padding-left: 25px;
    padding-top: 25px;
}
.name{
    color:#DCDCDC;
}

