
body{
  padding:0 auto;
  margin:0 ;

}





.header img{
  height: 80%; 
width:100%;
}




content {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
}
.bottom_content{
  display:grid;
  grid-template-columns:1fr 5fr  ;



}



/*
}
.header{
  background-color:yellow ;
}
*/

 




