.dialogs{
    display: grid;
    grid-template-rows: 100px 5fr;
}
.search_title{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.message{
display:grid;

    grid-template-rows: repeat( auto-fit, minmax(100px, 150px) );
    grid-row-gap:10px
}
